html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    background: #1A1A19;
    color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header_container {
    display: flex;
    justify-content: space-between;
    padding: 5px 20px 5px 20px;
    height: 10%;
    /* background-color: #141010; */
    /* border-radius: 0px 0px 25px 25px; */
    margin: 2px 2%;
}

#header_container>div {
    text-align: center;
    height: 100%;
}

.site-title {
    font-family: "bagel-fat-one", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.9rem;
    text-shadow: 2px 2px 4px #556B2F;
}

.letter-cl {
    color: #556B2F;
}

.tagline {
    color: #D96F32;
    margin: auto 15px;
    font-size: 1.6rem;
    font-family: "bagel-fat-one", sans-serif;
}

.nav {
    font-family: "bagel-fat-one", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

li {
    list-style: none;
}

.nav-item {
    display: flex;
    margin: auto 15px;
    font-size: 1.6rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.nav-link:hover {
    text-decoration: underline;
    text-decoration-color: #556B2F;
}

a {
    text-decoration: none;
    color: #556B2F;
}

#home {
    /* display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 2vw 5vh;
    padding: 5vh 6vw; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2vw 5vh;
    padding: 5vh 10vw;
    height: 70vh;
    /* border: 1px solid white; */
}

.subline {
    font-size: 3.8rem;
    /* border: 1px solid red; */
    text-align: center;
    font-family: olivia, sans-serif;
    font-weight: 300;
}

#recipes {
    background-color: #141010;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5vh;
    min-height: 70vh;
}

.r-tagline {
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: #D96F32;
    font-weight: normal;
    margin: 15px;
    font-family: "bagel-fat-one", sans-serif;
    font-size: 2.8rem;
}

.cardExplore{
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    align-items: center;
    justify-content: center;
    width: 20vw;
    height: 100%;
}

.postSection{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 10px auto;
    width: 70vw;
    height: 60vh;
    border: 1px solid purple;
}

.pagination {
    text-align: center;
    margin-top: 2rem;
}

.pagination a {
    color: #007BFF;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #007BFF;
    margin: 0 5px;
    border-radius: 4px;
}

.pagination a:hover {
    background-color: #007BFF;
    color: white;
}

.pagination .active {
    background-color: #007BFF;
    color: white;
}
