#createPostForm {
    display: none;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 60%;
    align-self: center;
    margin: 10% auto;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

.main {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
}

.sidebar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10%;
    text-align: left;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 2.2rem;
    background-color: #3b4a38;
    height: 100%;
    width: 100%;

}


.postSection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5%;
    height: 100%;
    padding: 10px;
}

.card {
    background-color: #BABA9E;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    box-shadow: -5px 0 0 #3b4a38;
    color: #1A1A19;
    flex-wrap: wrap;
}

/* .card-title {
    grid-column: 1 / 3;
}

.card {
    background-color: white;
    border-radius: 15px;
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    padding: 15px;
    padding-top: 20px;
    box-shadow: -5px 0 0 #4338ca;
    color: #0f172a;
}  */