<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>explore</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animations.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/explore.css') }}">
    <script>
        (function (d) {
            var config = {
                kitId: "sse2qfx",
                scriptTimeout: 3000,
                async: true,
            },
                h = d.documentElement,
                t = setTimeout(function () {
                    h.className =
                        h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive";
                }, config.scriptTimeout),
                tk = d.createElement("script"),
                f = false,
                s = d.getElementsByTagName("script")[0],
                a;
            h.className += " wf-loading";
            tk.src = "https://use.typekit.net/" + config.kitId + ".js";
            tk.async = true;
            tk.onload = tk.onreadystatechange = function () {
                a = this.readyState;
                if (f || (a && a != "complete" && a != "loaded")) return;
                f = true;
                clearTimeout(t);
                try {
                    Typekit.load(config);
                } catch (e) { }
            };
            s.parentNode.insertBefore(tk, s);
        })(document);
    </script>
</head>

<body>
    <nav id="header_container">
        <div class="main_header">
            <a href="{{ url_for('profile') }}">
                <h1 class="site-title" class="animate fade-in-up" class="letter-cl" id="username"></h1>
            </a>
        </div>
        <div class="tagline">Cook. Create. Serve.</div>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('profile') }}">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#recipes">Recipes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#about">Logout</a>
            </li>
        </ul>
    </nav>
    <header>
        <h1>explore</h1>
    </header>
    <section>
        <main>
            <h3>Find the perfect recipes for you</h3>
            <div class="postSection" id="dataContainer">
                
            </div>
            <div class="pagination" id="pagination"> 
                <a href="#" id="prev">Previous</a> 
                <a href="#" class="page-link" data-page="1">1</a> 
                <a href="#" class="page-link" data-page="2">2</a> 
                <a href="#" class="page-link" data-page="3">3</a> 
                <a href="#" id="next">Next</a> 
                <p id="page-numbers"> </p> 
            </div> 
        </main>
    </section>
    <script src="{{ url_for('static', filename='js/auth_user.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/explore.js') }}" defer></script>
</body>

</html>